@using EntityLayer.Concrete
@model List<Month>
    <div>
        <h3 class="mb-0">Aylık Görev </h3>
    </div>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Ay</th>
                <th>İçerik</th>

                <th>Kişi</th>
                <th>Önemi</th>
                <th>Durumu</th>
                <th>Sil</th>
                <th>Güncelle</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {


                <tr>
                    <td>@item.MonthTime</td>

                    <td>@item.MonthTaskContent</td>


                    <td>@item.User.UserName</td>
                    <td>@item.TaskImportance.TaskImportanceName</td>
                    <td>@item.TaskStatuse.TaskStatuseName</td>
                    <td><a href="~/Month/Delete/@item.MonthID" class="btn btn-outline-danger">Sil</a></td>
                    <td><a href="~/Month/Details/@item.MonthID" class="btn btn-outline-danger">Güncelle</a></td>
                </tr>
            }
        </tbody>

    </table>
    <a href="~/Month/Create/" class="btn btn-outline-danger">Ekle</a>