@using EntityLayer.Concrete
@model Day

<div>
    <h3 class="mb-0">Günlük Görev Ekleme</h3>
</div>
@using (Html.BeginForm("Create", "Day", FormMethod.Post))
{

    @Html.Label("Gün ")
    <div>
        @Html.Label((DateTime.Now.DayOfYear.ToString())) .Gündeyiz
    </div>


    @Html.TextBoxFor(ba => ba.DayTime, new { @class = "form-control" })

    <br />
    @Html.Label("Görev")
    @Html.TextBoxFor(ba => ba.DayTaskContent, new { @class = "form-control" })
    <br />
    @Html.Label("Kullanıcı")
    @Html.DropDownListFor(ba => ba.UserID, (List<SelectListItem>)ViewBag.Us, new { @class = "form-control" })

    <br />
    @Html.Label("Önem")
    @Html.DropDownListFor(ba => ba.TaskImportanceID, (List<SelectListItem>)ViewBag.tm, new { @class = "form-control" })

    <br />
    @Html.Label("Durum")
    @Html.DropDownListFor(ba => ba.TaskStatuseID, (List<SelectListItem>)ViewBag.ts, new { @class = "form-control" })

    <button class="btn btn-info">Kaydet</button>
}