@using EntityLayer.Concrete
@model List<Day>
    <div>
        <h3 class="mb-0">Günlük Görev </h3>
    </div>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Gün</th>
            <th>İçerik</th>
            <th>Kullanıcı</th>
            <th>Önem</th>
            <th>Durum</th>
            <th>Sil</th>
            <th>Güncelle</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {


        <tr>
            <td>@item.DayTime</td>

            <td>@item.DayTaskContent</td>

         
            <td>@item.User.UserName</td>
            <td>@item.TaskImportance.TaskImportanceName</td>
            <td>@item.TaskStatuse.TaskStatuseName</td>

            <td><a href="~/Day/Delete/@item.DayId" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="~/Day/Details/@item.DayId" class="btn btn-outline-info">Güncelle</a></td>
        </tr>
        }
    </tbody>

</table>
<a href="~/Day/Create/" class="btn btn-outline-success">Ekle</a>