@using EntityLayer.Concrete
@model Week

<div class="card-header border-0">
    <h3 class="mb-0">Servis Düzenleme Tablosu</h3>
</div>
@using (Html.BeginForm("Edit", "Week", FormMethod.Post))
{
    @Html.HiddenFor(ba => ba.WeekID)
    <br />
    @Html.Label("Hafta")
    @Html.TextBoxFor(ba => ba.WeekTime, new { @class = "form-control" })
    <br />
    @Html.Label("İçerik")
    @Html.TextBoxFor(ba => ba.WeekTaskContent, new { @class = "form-control" })
    <br />
    <br />
    @Html.Label("Kullanıcı")
    @Html.DropDownListFor(ba => ba.UserID, (List<SelectListItem>)ViewBag.Us, new { @class = "form-control" })

    <br />
    @Html.Label("Önem")
    @Html.DropDownListFor(ba => ba.TaskImportanceID, (List<SelectListItem>)ViewBag.tm, new { @class = "form-control" })

    <br />
    @Html.Label("Durum")
    @Html.DropDownListFor(ba => ba.TaskStatuseID, (List<SelectListItem>)ViewBag.ts, new { @class = "form-control" })

    <button class="btn btn-success">Kaydet</button>
}
