@using EntityLayer.Concrete
@model List<Week>
    <div>
        <h3 class="mb-0">Haftalık Görevler </h3>
    </div>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Hafta</th>
                <th>İçerik</th>
                <th>Kullanıcı</th>
                <th>Önem</th>
                <th>Durum</th>
                <th>Sil</th>
                <th>Güncelle</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {


                <tr>
                    <td>@item.WeekTime</td>

                    <td>@item.WeekTaskContent</td>

                    <td>@item.User.UserName</td>
                    <td>@item.TaskImportance.TaskImportanceName</td>
                    <td>@item.TaskStatuse.TaskStatuseName</td>
                    <td><a href="~/Week/Delete/@item.WeekID" class="btn btn-outline-danger">Sil</a></td>
                    <td><a href="~/Week/Details/@item.WeekID" class="btn btn-outline-info">Güncelle</a></td>
                </tr>
            }
        </tbody>

    </table>
    <a href="~/Week/Create/" class="btn btn-outline-success">Ekle</a>