@using EntityLayer.Concrete
@model Admin

<div class="card-header border-0">
    <h3 class="mb-0">Servis Düzenleme Tablosu</h3>
</div>
@using (Html.BeginForm("Edit", "Admin", FormMethod.Post))
{
    @Html.HiddenFor(ba => ba.AdminID)
    <br />
    @Html.Label("Ad")
    @Html.TextBoxFor(ba => ba.AdminName, new { @class = "form-control" })
    <br />
    @Html.Label("Soyad")
    @Html.TextBoxFor(ba => ba.AdminSurname, new { @class = "form-control" })
    <br />
    @Html.Label("Email")
    @Html.TextBoxFor(ba => ba.AdminEmail, new { @class = "form-control" })
    <br />
    @Html.Label("Şifre")
    @Html.TextBoxFor(ba => ba.AdminPassword, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Kaydet</button>
}
